<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbitmq.demo.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.rabbitmq.demo.domain.Order">
    <!--@mbg.generated-->
    <!--@Table order-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="message_id" jdbcType="INTEGER" property="messageId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, message_id
  </sql>
</mapper>